.profile-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-info {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.exercise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.exercise-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exercise-card h3 {
  margin-top: 0;
}

.exercise-card p {
  margin-bottom: 0;
}

.image-container {
  width: 100%;
  height: 250px; /* Or whatever height you want your exercise cards to be */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-image {
  width: 100%;
  height: auto;
}
